.navbar img {
  width: 100px;
  height: 100px;
  border: 1px white solid;
  border-radius: 60%;
  background: white;
}
.navbar .bg-white {
  border: none;
  text-align: center;
}
.navbar-nav {
  color: rgb(36, 35, 35);
}
.card .fas {
  margin-left: 360px;
}
.card:hover {
  cursor: pointer;
  background: rgb(215, 244, 255);
}
.card img:hover {
  box-shadow: 2px 2px 10px 5px grey;
}
@media (min-width: 800px) {
  .navbar .bg-white {
    width: 600px;
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}
@media (max-width: 400px) {
  .navbar .bg-white {
    width: 350px;
  }
}
